@model Web.Marcacion.Models.T_Persona

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="col-lg-8 col-md-6 col-sm-12">
    <!-- Material form login -->
    <div class="card">
        <div class="card-header info-color white-text py-4t">
            NUEVO EMPLEADO
        </div>
        <!--Card content-->
        <div class="card-body px-lg-12 pt-0">
            <!-- Form -->
            <!--<form class="text-center" style="color: #757575;" action="" method="post">-->
            @using (Html.BeginForm("Create", "T_Persona", FormMethod.Post))
            {
                <!-- Descripcion -->
                <div class="row">
                    <div class="col-md-6">
                        <div class="md-form">
                            <i class="fas fa-envelope prefix" style="left:0"></i>
                            @Html.TextBoxFor(model => model.Nombre, htmlAttributes: new { @class = "form-control" })
                            <label for="RazonSocial">Nombres</label>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="md-form">
                            <i class="fas fa-envelope prefix" style="left:0"></i>
                            @Html.TextBoxFor(model => model.Apellido, htmlAttributes: new { @class = "form-control" })
                            <label for="RazonSocial">Apellidos</label>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6">
                        <div class="editor-label">
                            @Html.LabelFor(model => model.ID_TipoDocumento, "Tipo documento")
                            <div class="editor-field">
                                @Html.DropDownList("ID_TipoDocumento", null, string.Empty, new { @class = "select" })
                                @Html.ValidationMessageFor(model => model.ID_TipoDocumento)
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="md-form">
                            <i class="fas fa-envelope prefix" style="left:0"></i>
                            @Html.TextBoxFor(model => model.NumeroDocumento, htmlAttributes: new { @class = "form-control" })
                            <label for="RazonSocial">Numero Documento</label>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="md-form">
                            <i class="fas fa-envelope prefix" style="left:0"></i>
                            @Html.TextBoxFor(model => model.Correo, htmlAttributes: new { @class = "form-control" })
                            <label for="RazonSocial">Correo electronico</label>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <b>Seleccione Sexo: </b><br />
                        <div class="custom-control custom-radio custom-control-inline">
                            @Html.RadioButton("sexo", "M", htmlAttributes: new { @class = "custom-control-input", @id = "sexoM" })
                            <label class="custom-control-label" for="sexoM" title="Masculino">M</label>
                        </div>
                        <div class="custom-control custom-radio custom-control-inline">
                            @Html.RadioButton("sexo", "F", htmlAttributes: new { @class = "custom-control-input", @id = "sexoF" })
                            <label class="custom-control-label" for="sexoF" title="Femenino">F</label>
                        </div>
                    </div>
                </div>
                <br />
                <div class="row">
                    <div class="col-md-12">
                        <div class="md-form">
                            <i class="fas fa-envelope prefix" style="left:0"></i>
                            @Html.TextBoxFor(model => model.Direccion, htmlAttributes: new { @class = "form-control" })
                            <label for="RazonSocial">Direccion </label>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="md-form">
                            <i class="fas fa-envelope prefix" style="left:0"></i>
                            @Html.TextBoxFor(model => model.Movil, htmlAttributes: new { @class = "form-control" })
                            <label for="RazonSocial">Movil / Telefono</label>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="editor-label">
                            @Html.LabelFor(model => model.ID_Cargo, "Seleccione Cargo")
                            <div class="editor-field">
                                @Html.DropDownList("ID_Cargo", null, string.Empty, new { @class = "select" })
                                @Html.ValidationMessageFor(model => model.ID_Cargo)
                            </div>
                        </div>
                    </div>
                </div>
                <hr />
                <div class="md-form m-2 text-center">
                    <button type="submit" class="btn btn-md btn-success">AGREGAR</button>
                </div>

            }
            @using (Html.BeginForm("Index", "T_Persona", FormMethod.Get))
            {
                <div class="md-form m-2 text-center">
                    <button type="submit" class="btn btn-md btn-success"> Regresar </button>
                </div>
            }
            <!-- Form -->

        </div>
    </div>
               
    </div>
