@model Web.Marcacion.Models.T_Usuario_Reg

@{
    ViewBag.Title = "CrearUsuario";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="col-lg-8 col-md-6 col-sm-12">
    <!-- Material form login -->
    <div class="card">
        <div class="card-header info-color white-text py-4t">
            Crear Credencial de acceso
        </div>
        <!--Card content-->
        <div class="card-body px-lg-12 pt-0">
            <!-- Form -->
            <!--<form class="text-center" style="color: #757575;" action="" method="post">-->
            @using (Html.BeginForm("CreateUsuario", "T_Persona", FormMethod.Post))
            {
                <!-- APELLIDOS Y NOMBRES -->
                @Html.HiddenFor(model => model.ID_Persona)
                <div class="row">
                    <div class="col-md-6">
                        <div class="md-form">
                            <i class="fas fa-envelope prefix" style="left:0"></i>
                            @Html.TextBoxFor(model => model.RazonSocial, htmlAttributes: new { @class = "form-control", disabled = "disabled" })
                            <label for="Descripcion">Nombre</label>
                        </div>
                    </div>
                    <!-- NUMERO DE DOCUMENTO -->
                    <div class="col-md-6">
                        <div class="md-form">
                            <i class="fas fa-envelope prefix" style="left:0"></i>
                            @Html.TextBoxFor(model => model.NumeroDocumento, htmlAttributes: new { @class = "form-control", disabled = "disabled" })
                            <label for="NumeroDocumento">NumeroDocumento</label>
                        </div>
                    </div>
                </div>
                <!-- CORREO (USUARIO) -->
                @Html.HiddenFor(model => model.Correo)
                <div class="row">
                    <div class="col-md-6">
                        <div class="md-form">
                            <i class="fas fa-envelope prefix" style="left:0"></i>
                            @*Html.TextBox("txtcorreo", (string)ViewBag.Correo, htmlAttributes: new { @class = "form-control", disabled = "disabled" })*@
                            @Html.TextBoxFor(model => model.Correo, htmlAttributes: new { @class = "form-control", disabled = "disabled" })
                            <label for="Correo">Correo Electronico</label>
                        </div>
                    </div>
                    <div class="col-md-5">
                        <div class="md-form">
                            <span>(¡Este es su usuario de acceso!)</span>
                        </div>
                    </div>
                </div>

                <!-- CONTRASEÑA -->
                <div class="row">
                    <div class="col-md-6">
                        <div class="md-form">
                            <i class="fas fa-envelope prefix" style="left:0"></i>
                            @Html.TextBoxFor(model => model.Clave, htmlAttributes: new { @class = "form-control" })
                            <label for="RazonSocial">Clave</label>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="editor-label">
                            @Html.LabelFor(model => model.ID_Perfil, "Selecione Perfil")
                            <div class="editor-field">
                                @Html.DropDownList("ID_Perfil", null, string.Empty, new { @class = "select" })
                                @Html.ValidationMessageFor(model => model.ID_Perfil)
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="editor-label">
                            @Html.LabelFor(model => model.ID_TipoJornada, "Selecione Jornada")
                            <div class="editor-field">
                                @Html.DropDownList("ID_TipoJornada", null, string.Empty, new { @class = "select" })
                                @Html.ValidationMessageFor(model => model.ID_TipoJornada)
                            </div>
                        </div>
                    </div>
                </div>
                <hr />
                <div class="md-form m-2 text-center">
                    <button type="submit" class="btn btn-md btn-success">Crear</button>
                </div>
            }@using (Html.BeginForm("Index", "T_Persona", FormMethod.Get))
            {
                <div class="md-form m-2 text-center">
                    <button type="submit" class="btn btn-md btn-success"> Regresar </button>
                </div>
            }
            <!-- Form -->

        </div>

    </div>
</div>

