@model Web.Marcacion.Models.T_Persona

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="col-lg-8 col-md-6 col-sm-12">
    <!-- Material form login -->
    <div class="card">
        <div class="card-header info-color white-text py-4t">
            Eliminar Empleado
        </div>
        <!--Card content-->
        <div class="card-body px-lg-12 pt-0">
            <!-- Form -->
            <!--<form class="text-center" style="color: #757575;" action="" method="post">-->
            @using (Html.BeginForm("Delete", "T_Persona", FormMethod.Post))
            {
<<<<<<< HEAD
                <!-- Descripcion -->
                @Html.HiddenFor(model => model.ID_Persona)



                <div class="row">
                    <div class="col-md-6">
                        <div class="md-form">
                            <i class="Nombre" style="left:0"></i>
                            @Html.TextBoxFor(model => model.Nombre, htmlAttributes: new { disabled = "disabled", @class = "form-control" })
                            <label id="idNombre" for="Nombre">Nombre</label>
=======
                <div class="row">
                    <div class="col-md-6">
                        <!-- Descripcion -->
                        @Html.HiddenFor(model => model.ID_Persona)
                        <div class="md-form">
                            <i class="fas fa-envelope prefix" style="left:0"></i>
                            @Html.TextBoxFor(model => model.Nombre, htmlAttributes: new { @class = "form-control", disabled = "disabled" })
                            <label for="Descripcion">Nombre</label>
>>>>>>> 091016b7d3854db6405d93405547fff78f975dad
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="md-form">
<<<<<<< HEAD
                            <i class="Apellido" style="left:0"></i>
                            @Html.TextBoxFor(model => model.Apellido, htmlAttributes: new { disabled = "disabled", @class = "form-control" })
                            <label id="idApellido" for="Apellido">Apellidos</label>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="md-form">
                            <i class="Correo" style="left:0"></i>
                            @Html.TextBoxFor(model => model.Correo, htmlAttributes: new { disabled = "disabled", @class = "form-control" })
                            <label id="idCorreo" for="Correo">Correo electronico</label>
=======
                            <i class="fas fa-envelope prefix" style="left:0"></i>
                            @Html.TextBoxFor(model => model.Apellido, htmlAttributes: new { @class = "form-control", disabled = "disabled" })
                            <label for="Descripcion">Apellido</label>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="md-form">
                            <i class="fas fa-envelope prefix" style="left:0"></i>
                            @Html.TextBoxFor(model => model.NumeroDocumento, htmlAttributes: new { @class = "form-control", disabled = "disabled" })
                            <label for="Descripcion">Nro. Documento</label>
>>>>>>> 091016b7d3854db6405d93405547fff78f975dad
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="md-form">
<<<<<<< HEAD
                            <i class="Telefono" style="left:0"></i>
                            @Html.TextBoxFor(model => model.Movil, htmlAttributes: new { disabled = "disabled", @class = "form-control" })
                            <label id="idTelefono" for="Movil">Movil / Telefono</label>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="md-form">

                            <i class="PerDireccion" style="left:0"></i>

                            @Html.TextAreaFor(model => model.Direccion, htmlAttributes: new { disabled = "disabled", @class = "form-control" })

                            <label id="idPerDireccion" for="Direccion">Direccion</label>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="md-form">
                            <i class="NumeroDocumento" style="left:0"></i>
                            @Html.TextBoxFor(model => model.NumeroDocumento, htmlAttributes: new { disabled = "disabled", @class = "form-control" })
                            <label id="idNumeroDocumento" for="NumeroDocumento">Numero Documento</label>
                        </div>
                    </div>
                </div>








                @Html.HiddenFor(model => model.Estado)
                <div class="form-check" style="padding-left:0 !important;display:none">
                    <input style="display:none" type="checkbox" class="form-check-input" id="chkActive" name="chkActive" checked="@Model.Estado">
                    <label style="display:none" class="form-check-label" for="chkActive">Estado</label>
                </div>
                <hr />
                <div class="md-form m-2 text-center">
                    <button type="submit" class="btn btnmarc Eliminar">Eliminar</button>
                </div>
                <!-- Form -->
            }  @using (Html.BeginForm("Index", "T_Persona", FormMethod.Get))
            {
                <div class="md-form m-2 text-center">
                    <button type="submit" class="btn btnmarc Regresar">
                        <a>Cancelar</a>
                    </button>
                </div>
            }
        </div>
=======
                            <i class="fas fa-envelope prefix" style="left:0"></i>
                            @Html.TextBoxFor(model => model.Correo, htmlAttributes: new { @class = "form-control", disabled = "disabled" })
                            <label for="Descripcion">Correo</label>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="md-form">
                            <i class="fas fa-envelope prefix" style="left:0"></i>
                            @Html.TextBoxFor(model => model.Movil, htmlAttributes: new { @class = "form-control", disabled = "disabled" })
                            <label for="Descripcion">Movil</label>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <!-- Estado -->
                        @Html.HiddenFor(model => model.Estado)
                        <div class="form-check" style="padding-left:0 !important">
                            <input type="checkbox" class="form-check-input" id="chkActive" name="chkActive" checked="@Model.Estado" disabled>
                            <label class="form-check-label" for="chkActive">Estado</label>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="md-form">
                            <i class="fas fa-envelope prefix" style="left:0"></i>
                            @Html.TextBoxFor(model => model.Direccion, htmlAttributes: new { @class = "form-control", disabled = "disabled" })
                            <label for="Descripcion">Dirección</label>
                        </div>
                    </div>
                </div>
                        <hr />
                        <div class="md-form m-2 text-center">
                            <button type="submit" class="btn btn-md btn-success">ELIMINAR</button>
                        </div>
                        <!-- Form -->
                        }  @using (Html.BeginForm("Index", "T_Persona", FormMethod.Get))
                        {
                            <div class="md-form m-2 text-center">
                                <button type="submit" class="btn btn-md btn-success"> Regresar </button>
                            </div>
                        }
                    </div>
>>>>>>> 091016b7d3854db6405d93405547fff78f975dad

                </div>
                <!-- Material form login -->
            </div>

<script type="text/javascript">
    //$('#Estado').prop('indeterminate', true);
    $("[name=chkActive]").on('click', function () {
        if ($("#chkActive").is(":checked")) {
            $("[name=Estado]").val(true);
        } else {
            $("[name=Estado]").val(false);
        }
    });
</script>
