@model Web.Marcacion.Models.T_Persona

@{
    ViewBag.Title = "Edit";
}

<div class="col-lg-5">
    <!-- Material form login -->
    <div class="card">
        <div class="card-header info-color white-text py-4t">
            EDITAR PERFIL
        </div>
        <!--Card content-->
        <div class="card-body px-lg-5 pt-0">
            <!-- Form -->
            <!--<form class="text-center" style="color: #757575;" action="" method="post">-->
            @using (Html.BeginForm("Edit", "T_Persona", FormMethod.Post))
            {
                <!-- Descripcion -->
                @Html.HiddenFor(model => model.ID_Persona)
                @Html.HiddenFor(model => model.FechaCreacion)
                @Html.HiddenFor(model => model.UsuarioCreacion)

                <div class="md-form">
                    <i class="fas fa-envelope prefix" style="left:0"></i>
                    @Html.TextBoxFor(model => model.Nombre, htmlAttributes: new { @class = "form-control" })
                    <label for="Descripcion">Nombre</label>
                </div>
                <div class="md-form">
                    <i class="fas fa-envelope prefix" style="left:0"></i>
                    @Html.TextBoxFor(model => model.Apellido, htmlAttributes: new { @class = "form-control" })
                    <label for="Apellido">Apellido</label>
                </div>
                <div class="editor-label">
                    <label for="Descripcion">Seleccionar tipo de documento :</label>
                    <div class="editor-field">
                        @Html.DropDownListFor(model => model.ID_TipoDocumento, (SelectList)ViewBag.ID_TipoDocumento,  new { @class = "select" })
                    </div>
                </div>

                <div class="md-form">
                    <i class="fas fa-envelope prefix" style="left:0"></i>
                    @Html.TextBoxFor(model => model.NumeroDocumento, htmlAttributes: new { @class = "form-control" })
                    <label for="NumeroDocumento">NumeroDocumento</label>
                </div>
                <div class="md-form">
                    <i class="fas fa-envelope prefix" style="left:0"></i>
                    @Html.TextBoxFor(model => model.Sexo, htmlAttributes: new { @class = "form-control" })
                    <label for="Sexo">Sexo</label>
                </div>
                <div class="md-form">
                    <i class="fas fa-envelope prefix" style="left:0"></i>
                    @Html.TextBoxFor(model => model.Correo, htmlAttributes: new { @class = "form-control" })
                    <label for="Correo">Correo</label>
                </div>
                <div class="md-form">
                    <i class="fas fa-envelope prefix" style="left:0"></i>
                    @Html.TextBoxFor(model => model.Movil, htmlAttributes: new { @class = "form-control" })
                    <label for="Movil">Movil</label>
                </div>
                <div class="md-form">
                    <i class="fas fa-envelope prefix" style="left:0"></i>
                    @Html.TextBoxFor(model => model.Direccion, htmlAttributes: new { @class = "form-control" })
                    <label for="Direccion">Direccion</label>
                </div>
                <div class="md-form">
                    <i class="fas fa-envelope prefix" style="left:0"></i>
                    @Html.TextBoxFor(model => model.Cargo, htmlAttributes: new { @class = "form-control" })
                    <label for="Cargo">Cargo</label>
                </div>
                <div class="md-form">
                    <i class="fas fa-envelope prefix" style="left:0"></i>
                    @Html.TextBoxFor(model => model.ID_Empresa, htmlAttributes: new { @class = "form-control" })
                    <label for="Cargo">Empresa</label>
                </div>

                <!-- Estado -->
                @Html.HiddenFor(model => model.Estado)
                <div class="form-check" style="padding-left:0 !important">
                    <input type="checkbox" class="form-check-input" id="chkActive" name="chkActive" checked="@Model.Estado">
                    <label class="form-check-label" for="chkActive">Estado</label>
                </div>
                <hr />
                <div class="md-form m-2 text-center">
                    <button type="submit" class="btn btn-md btn-success">Actualizar</button>
                </div>
            }
            <!-- Form -->

        </div>

    </div>
    <!-- Material form login -->
</div>

<script type="text/javascript">
    //$('#Estado').prop('indeterminate', true);
    $("[name=chkActive]").on('click', function () {
        if ($("#chkActive").is(":checked")) {
            $("[name=Estado]").val(true);
        } else {
            $("[name=Estado]").val(false);
        }
    });
</script>