
@{
    ViewBag.Title = "Success";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Vista previa</h2>

@using (Html.BeginForm("Salir", "T_Persona", FormMethod.Get))
{
    <div class="md-form m-2 text-center">
        <button type="submit" class="btn btn-md btn-success">REGRESAR</button>
    </div>
}
@using (Html.BeginForm("InsertarExcel", "T_Persona", FormMethod.Get))
{
    <div class="md-form m-2 text-center">
        <button type="submit" class="btn btn-md btn-success">AGREGAR</button>
    </div>
}


<div class="row ">
    <div class="col-lg-12">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>NOMBRES</th>
                    <th>APELLIDOS</th>
                    <th>ID_TIPODOCUMENTO</th>
                    <th>NUMERODOCUMENTO</th>
                    <th>SEXO</th>
                    <th>CORREO</th>
                    <th>MOVIL</th>
                    <th>DIRECCION</th>
                    <th>FECHANACIMIENTO</th>
                    <th>ID_CARGO</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var olista in (List<Web.Marcacion.Models.PersonaExcel>)ViewBag.ListPersona)
                {
                    <tr>
                        <td>@olista.Nombre</td>
                        <td>@olista.Apellido</td>
                        <td>@olista.ID_TipoDocumento</td>
                        <td>@olista.NumeroDocumento</td>
                        <td>@olista.Sexo</td>
                        <td>@olista.Correo</td>
                        <td>@olista.Movil</td>
                        <td>@olista.Direccion</td>
                        <td>@olista.FechaNacimiento</td>
                        <td>@olista.ID_Cargo</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

