@model Web.Marcacion.Models.T_TipoJornada

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="col-lg-5">
    <!-- Material form login -->
    <div class="card">
        <div class="card-header info-color white-text py-4t">
            ELIMINAR TIPO DE JORNADA
        </div>
        <!--Card content-->
        <div class="card-body px-lg-5 pt-0">
            <!-- Form -->
            <!--<form class="text-center" style="color: #757575;" action="" method="post">-->
            @using (Html.BeginForm("Delete", "T_TipoJornada", FormMethod.Post))
            {
                <!-- Descripcion -->
                @Html.HiddenFor(model => model.ID_TipoJornada)
            <div class="md-form">
                <i class="txtDescripcion" style="left:0"></i>
                @Html.TextBoxFor(model => model.Descripcion, htmlAttributes: new { @class = "form-control", disabled = "disabled" })
                <label id="idDescripcion" for="Descripcion">Descripción</label>
            </div>
                <!-- Hora de Entrada -->
            <div class="md-form">
                <i class="Hora" style="left:0"></i>
                @Html.TextBoxFor(model => model.HoraEntrada, htmlAttributes: new { @class = "form-control", disabled = "disabled" })
                <label  id="idHora" for="HoraEntrada">Hora de Entrada</label>
            </div>
                <!-- Hora de Salida -->
            <div class="md-form">
                <i class="Hora" style="left:0"></i>
                @Html.TextBoxFor(model => model.HoraSalida, htmlAttributes: new { @class = "form-control", disabled = "disabled" })
                <label class="active" id="idHora" for="HoraSalida">Hora de Salida</label>
            </div>
                <!-- Estado -->
                @Html.HiddenFor(model => model.Estado)
                <div class="form-check" style="padding-left:0 !important">
                    <input type="checkbox" class="form-check-input" id="chkActive" name="chkActive" checked="@Model.Estado" disabled>
                    <label class="form-check-label" for="chkActive">Estado</label>
                </div>
                <hr />
                <div class="md-form m-2 text-center">
                    <button type="submit" class="btn btnmarc Eliminar">Eliminar</button>
                </div>
                <!-- Form -->
            }

            @using (Html.BeginForm("Salir", "T_TipoJornada", FormMethod.Get))
            {
                <div class="md-form m-2 text-center">
                    <button type="submit" class="btn btnmarc Regresar">
                        <a>Cancelar</a>
                    </button>
                </div>
            }
        </div>

    </div>
    <!-- Material form login -->
</div>

<script type="text/javascript">
    //$('#Estado').prop('indeterminate', true);
    $("[name=chkActive]").on('click', function () {
        if ($("#chkActive").is(":checked")) {
            $("[name=Estado]").val(true);
        } else {
            $("[name=Estado]").val(false);
        }
    });
</script>

