
@model Web.Marcacion.Models.E_Correo
@{
    ViewBag.Title = "EnvioCorreo";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Envio Correo</h2>

<div class="col-lg-5">

    <div class="card">
        <div class="card-header info-color white-text py-4t">

        </div>

        <div class="card-body px-lg-5 pt-0">

            @using (Html.BeginForm("EnvioCorreo", "EnvioCorreo", FormMethod.Post))
            {

                <div class="md-form">
                    <i class="fas fa-envelope prefix" style="left:0"></i>
                    @Html.TextBoxFor(model => model.Destino, htmlAttributes: new { @class = "form-control" })
                    <label for="Para">Para</label>
                </div>

                <div class="md-form">
                    <i class="fas fa-envelope prefix" style="left:0"></i>
                    @Html.TextBoxFor(model => model.Asunto, htmlAttributes: new { @class = "form-control" })
                    <label for="Asunto">Asunto</label>
                </div>

                <div class="md-form">
                    <i class="fas fa-envelope prefix" style="left:0"></i>
                    @Html.TextAreaFor(model => model.Mensaje, htmlAttributes: new { @class = "form-control" })
                    <label for="Mensaje">Mensaje</label>
                </div>

                <hr />
                <div class="md-form m-2 text-center">
                    <button type="submit" class="btn btn-md btn-success">Enviar</button>
                </div>

            }


        </div>

    </div>

</div>

<h3 style="color:Blue">

    @ViewBag.Mensaje

</h3>
<h3 style="color:Red">

    @ViewBag.Error

</h3>