@model Web.Marcacion.Models.T_Empresa

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="col-lg-5">

    <div class="card">
        <div class="card-header info-color white-text py-4t">
            CREAR EMPRESA
        </div>

        <div class="card-body px-lg-5 pt-0">

            @using (Html.BeginForm("Create", "Empresa", FormMethod.Post))
            {
                <!-- Razon Social -->
                <div class="md-form">
                    <i class="fas fa-envelope prefix" style="left:0"></i>
                    @Html.TextBoxFor(model => model.RazonSocial, htmlAttributes: new { @class = "form-control" })
                    <label for="RazonSocial">Razon Social</label>
                </div>
                <!-- RUC -->
                <div class="md-form">
                    <i class="fas fa-envelope prefix" style="left:0"></i>
                    @Html.TextBoxFor(model => model.RUC, htmlAttributes: new { @class = "form-control" })
                    <label for="RUC">RUC</label>
                </div>
                <!-- Grupo -->
                <div class="md-form">
                    <i class="fas fa-envelope prefix" style="left:0"></i>
                    @Html.TextBoxFor(model => model.Grupo, htmlAttributes: new { @class = "form-control" })
                    <label for="Grupo">Grupo</label>
                </div>
                <!-- Direccion -->
                <div class="md-form">
                    <i class="fas fa-envelope prefix" style="left:0"></i>
                    @Html.TextBoxFor(model => model.Direccion, htmlAttributes: new { @class = "form-control" })
                    <label for="Direccion">Direccion</label>
                </div>
                <!-- Telefono -->
                <div class="md-form">
                    <i class="fas fa-envelope prefix" style="left:0"></i>
                    @Html.TextBoxFor(model => model.Telefono, htmlAttributes: new { @class = "form-control" })
                    <label for="Telefono">Telefono</label>
                </div>
                <!-- FechaCreacion -->
                <div class="md-form">
                    <i class="fas fa-envelope prefix" style="left:0"></i>
                    @Html.TextBoxFor(model => model.FechaCreacion, htmlAttributes: new { @class = "form-control" })
                    <label for="FechaCreacion">Fecha de Creacion</label>
                </div>
                <!-- UsuarioCreacion -->
                <div class="md-form">
                    <i class="fas fa-envelope prefix" style="left:0"></i>
                    @Html.TextBoxFor(model => model.UsuarioCreacion, htmlAttributes: new { @class = "form-control" })
                    <label for="UsuarioCreacion">Usuario de creacion</label>
                </div>
                <!-- FechaModificacion -->
                <div class="md-form">
                    <i class="fas fa-envelope prefix" style="left:0"></i>
                    @Html.TextBoxFor(model => model.FechaModificacion, htmlAttributes: new { @class = "form-control" })
                    <label for="FechaModificacion">Fecha de Modificacion</label>
                </div>
                <!-- UsuarioModificacion -->
                <div class="md-form">
                    <i class="fas fa-envelope prefix" style="left:0"></i>
                    @Html.TextBoxFor(model => model.UsuarioModificacion, htmlAttributes: new { @class = "form-control" })
                    <label for="UsuarioMoficacion">Usuario de Modificacion</label>
                </div>
                <div class="form-check" style="padding-left:0 !important">
                    <input type="checkbox" class="form-check-input" id="chkActive" name="chkActive" checked disabled>
                    <label class="form-check-label" for="chkActive">Estado</label>
                </div>
                <hr />
                <div class="md-form m-2 text-center">
                    <button type="submit" class="btn btn-md btn-success">AGREGAR</button>
                </div>

            }


        </div>

    </div>
    
</div>

<script type="text/javascript">
    
    $("[name=chkActive]").on('click', function () {
        if ($("#chkActive").is(":checked")) {
            $("[name=Estado]").val(true);
        } else {
            $("[name=Estado]").val(false);
        }
    });
</script>


