@model Web.Marcacion.Models.T_Empresa

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="col-lg-5">

    <div class="card">
        <div class="card-header info-color white-text py-4t">
            EDITAR EMPRESA
        </div>

        <div class="card-body px-lg-5 pt-0">

            @using (Html.BeginForm("Edit", "Empresa", FormMethod.Post))
            {
                <!-- Razon Social -->
                @Html.HiddenFor(model => model.ID_Empresa)
                <div class="md-form">
                    <i class="RazonSocial" style="left:0"></i>
                    @Html.TextBoxFor(model => model.RazonSocial, htmlAttributes: new { @class = "form-control" })
                    <label id="idRazonSocial" for="RazonSocial">Razon Social</label>
                </div>
                <!-- RUC -->
                @Html.HiddenFor(model => model.ID_Empresa)
                <div class="md-form">
                    <i class="RUC" style="left:0"></i>
                    @Html.TextBoxFor(model => model.RUC, htmlAttributes: new { @class = "form-control" })
                    <label id="idRUC" for="RUC">RUC</label>
                </div>
                <!-- Grupo -->
                @Html.HiddenFor(model => model.ID_Empresa)
                <div class="md-form">
                    <i class="Grupo" style="left:0"></i>
                    @Html.TextBoxFor(model => model.Grupo, htmlAttributes: new { @class = "form-control" })
                    <label id="idGrupo" for="Grupo">Grupo</label>
                </div>
                <!-- Direccion -->
                @Html.HiddenFor(model => model.ID_Empresa)
                <div class="md-form">
                    <i class="PerDireccion" style="left:0"></i>
                    @Html.TextAreaFor(model => model.Direccion, htmlAttributes: new { @class = "form-control" })
                    <label id="idPerDireccion" for="Direccion">Direccion</label>
                </div>
                <!-- Telefono -->
                @Html.HiddenFor(model => model.ID_Empresa)
                <div class="md-form">
                    <i class="Telefono" style="left:0"></i>
                    @Html.TextBoxFor(model => model.Telefono, htmlAttributes: new { @class = "form-control" })
                    <label id="idTelefono" for="Telefono">Telefono</label>
                </div>
               
               @Html.HiddenFor(model => model.ID_Empresa)
            <div class="md-form">
                <i class="fas fa-envelope prefix" style="display:none"></i>
                @Html.TextBoxFor(model => model.FechaCreacion, htmlAttributes: new { @type = "hidden", @class = "form-control"})
                <label style="display:none" for="FechaCreacion">Fecha de Creacion</label>
            </div>
            <!-- UsuarioCreacion -->
            @Html.HiddenFor(model => model.ID_Empresa)
            <div class="md-form">
                <i class="fas fa-envelope prefix" style="display:none"></i>
                @Html.TextBoxFor(model => model.UsuarioCreacion, htmlAttributes: new { @type = "hidden", @class = "form-control" })
                <label style="display:none" for="UsuarioCreacion">Usuario de creacion</label>
            </div>
            <!-- FechaModificacion -->
            @Html.HiddenFor(model => model.ID_Empresa)
            <div class="md-form">
                <i class="fas fa-envelope prefix" style="display:none"></i>
                @Html.TextBoxFor(model => model.FechaModificacion, htmlAttributes: new { @type = "hidden", @class = "form-control"})
                <label style="display:none" for="FechaModificacion">Fecha de Modificacion</label>
            </div>
            <!-- UsuarioModificacion -->
            @Html.HiddenFor(model => model.ID_Empresa)
            <div class="md-form">
                <i class="fas fa-envelope prefix" style="display:none"></i>
                @Html.TextBoxFor(model => model.UsuarioModificacion, htmlAttributes: new { @type = "hidden", @class = "form-control"})
                <label style="display:none" for="UsuarioMoficacion">Usuario de Modificacion</label>
            </div>
                <!-- Estado -->
                @Html.HiddenFor(model => model.Estado)
                <div class="form-check" style="padding-left:0 !important">
                    <input type="checkbox" class="form-check-input" id="chkActive" name="chkActive" checked="@Model.Estado">
                    <label class="form-check-label" for="chkActive">Estado</label>
                </div>
                <hr />
                <div class="md-form m-2 text-center">
                    <button type="submit" class="btn btnmarc Editar CPA">Actualizar</button>
                   
                </div>
            }


            @using (Html.BeginForm("Salir", "Empresa", FormMethod.Get))
            {
                <button type="submit" class="btn btnmarc Details">Regresar</button>
            }


        </div>

    </div>

</div>

<script type="text/javascript">

    $("[name=chkActive]").on('click', function () {
        if ($("#chkActive").is(":checked")) {
            $("[name=Estado]").val(true);
        } else {
            $("[name=Estado]").val(false);
        }
    });
</script>
