
@model List<Web.Marcacion.Models.T_Empresa>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h2>Empresa</h2>
@using (Html.BeginForm("Create", "Empresa", FormMethod.Get))
{
    <button type="submit" class="btn btn-primary">NUEVO</button>
}

@using (Html.BeginForm("Delete", "Empresa", FormMethod.Get))
{
    <div class="row ">
        <div class="col-lg-12">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        @*<th>IDEMPRESA</th>*@
                        <th>RAZON SOCIAL</th>
                        <th>RUC</th>
                        <th>GRUPO</th>
                        <th>DIRECCION</th>
                        <th>TELEFONO</th>
                        @*  <th>FECHA DE CREACION</th>
                            <th>USUARIO CREACION</th>
                            <th>FECHA DE MODIFICACION</th>
                            <th>USUARIO MODIFICACION</th>*@
                        <th>ESTADO</th>
                        <th>ACCIONES</th>

                    </tr>
                </thead>
                <tbody>
                    @foreach (var olista in Model)
                    {
                        <tr>
                            @*<td>@olista.ID_Empresa</td>*@
                            <td>@olista.RazonSocial</td>
                            <td>@olista.RUC</td>
                            <td>@olista.Grupo</td>
                            <td>@olista.Direccion</td>
                            <td>@olista.Telefono</td>
                            @* <td>@olista.FechaCreacion</td>
                                <td>@olista.UsuarioCreacion</td>
                                <td>@olista.FechaModificacion</td>
                                <td>@olista.UsuarioModificacion</td>*@
                            <td>@olista.Estado</td>
                            <td>
                                @Html.ActionLink("Edit", "Edit", new { id = olista.ID_Empresa })  |
                                @Html.ActionLink("Detail", "Detail", new { id = olista.ID_Empresa }) |
                                @Html.ActionLink("Delete", "Delete", new { id = olista.ID_Empresa })

                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>

}