<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <link rel="icon" type="image/png" href="~/imagenes/Assiste.png" />
    <link rel="stylesheet" type="text/css" href="~/css/layoutlogin.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.11.0/css/all.css">
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
</head>
<body class="fixed-sn black-skin">

    <div class="modal-webloading" style="display: none;">
        <div style="background-color: #000;position: fixed; top: 0; right: 0; bottom: 0; left: 0; z-index: 1060;opacity: 0.20;"></div>
        <div id="webLoading">
            <div class="spinner-grow text-danger" role="status">
                <span class="sr-only">Loading...</span>
            </div>
            <div class="spinner-grow text-danger" role="status">
                <span class="sr-only">Loading...</span>
            </div>
            <div class="spinner-grow text-danger" role="status">
                <span class="sr-only">Loading...</span>
            </div>
            <div class="spinner-grow text-danger" role="status">
                <span class="sr-only">Loading...</span>
            </div>
        </div>
    </div>

    <!--Double navigation-->
    <header></header>
    <!--/.Double navigation-->

    <main>
        <div class="container body-content">
            @RenderBody()
        </div>
    </main>


    @RenderSection("scripts", required: false)
    <script>
        $(document).ready(() => {
            // SideNav Initialization
            $(".button-collapse").sideNav();
            new WOW().init();
        })
    </script>
    <style>

        /* Only for snippet */
        .double-nav .breadcrumb-dn {
            color: #fff;
        }

        .button-collapse i {
            color: #fff
        }
    </style>
</body>
</html>

