@model Web.Marcacion.Models.T_Empresa

@{
    ViewBag.Title = "Detail";
}

<div class="col-lg-5">
  
    <div class="card">
        <div class="card-header info-color white-text py-4t">
            DETALLE EMPRESA
        </div>
      
        <div class="card-body px-lg-5 pt-0">
            
            @using (Html.BeginForm("Detail", "Empresa", FormMethod.Post))
            {
                <!-- Razon Social -->
                @Html.HiddenFor(model => model.ID_Empresa)
                <div class="md-form">
                    <i class="fas fa-envelope prefix" style="left:0"></i>
                    @Html.TextBoxFor(model => model.RazonSocial, htmlAttributes: new { @class = "form-control", disabled = "disabled" })
                    <label for="Descripcion">Descripción</label>
                </div>
                <!-- RUC -->
                @Html.HiddenFor(model => model.ID_Empresa)
                <div class="md-form">
                    <i class="fas fa-envelope prefix" style="left:0"></i>
                    @Html.TextBoxFor(model => model.RUC, htmlAttributes: new { @class = "form-control", disabled = "disabled" })
                    <label for="RUC">RUC</label>
                </div>
                <!-- Grupo -->
                @Html.HiddenFor(model => model.ID_Empresa)
                <div class="md-form">
                    <i class="fas fa-envelope prefix" style="left:0"></i>
                    @Html.TextBoxFor(model => model.Grupo, htmlAttributes: new { @class = "form-control", disabled = "disabled" })
                    <label for="Grupo">Grupo</label>
                </div>
                <!-- Direccion -->
                @Html.HiddenFor(model => model.ID_Empresa)
                <div class="md-form">
                    <i class="fas fa-envelope prefix" style="left:0"></i>
                    @Html.TextBoxFor(model => model.Direccion, htmlAttributes: new { @class = "form-control", disabled = "disabled" })
                    <label for="Direccion">Direccion</label>
                </div>
                <!-- Telefono -->
                @Html.HiddenFor(model => model.ID_Empresa)
                <div class="md-form">
                    <i class="fas fa-envelope prefix" style="left:0"></i>
                    @Html.TextBoxFor(model => model.Telefono, htmlAttributes: new { @class = "form-control", disabled = "disabled" })
                    <label for="Telefono">Telefono</label>
                </div>
                <!-- FechaCreacion -->
                @Html.HiddenFor(model => model.ID_Empresa)
                <div class="md-form">
                    <i class="fas fa-envelope prefix" style="left:0"></i>
                    @Html.TextBoxFor(model => model.FechaCreacion, htmlAttributes: new { @class = "form-control", disabled = "disabled" })
                    <label for="FechaCreacion">Fecha de Creacion</label>
                </div>
                <!-- UsuarioCreacion -->
                @Html.HiddenFor(model => model.ID_Empresa)
                <div class="md-form">
                    <i class="fas fa-envelope prefix" style="left:0"></i>
                    @Html.TextBoxFor(model => model.UsuarioCreacion, htmlAttributes: new { @class = "form-control", disabled = "disabled" })
                    <label for="UsuarioCreacion">Usuario de creacion</label>
                </div>
                <!-- FechaModificacion -->
                @Html.HiddenFor(model => model.ID_Empresa)
                <div class="md-form">
                    <i class="fas fa-envelope prefix" style="left:0"></i>
                    @Html.TextBoxFor(model => model.FechaModificacion, htmlAttributes: new { @class = "form-control", disabled = "disabled" })
                    <label for="FechaModificacion">Fecha de Modificacion</label>
                </div>
                <!-- UsuarioModificacion -->
                @Html.HiddenFor(model => model.ID_Empresa)
                <div class="md-form">
                    <i class="fas fa-envelope prefix" style="left:0"></i>
                    @Html.TextBoxFor(model => model.UsuarioModificacion, htmlAttributes: new { @class = "form-control", disabled = "disabled" })
                    <label for="UsuarioMoficacion">Usuario de Modificacion</label>
                </div>
                <!-- Estado -->
                @Html.HiddenFor(model => model.Estado)
                <div class="form-check" style="padding-left:0 !important">
                    <input type="checkbox" class="form-check-input" id="chkActive" name="chkActive" checked="@Model.Estado" disabled>
                    <label class="form-check-label" for="chkActive">Estado</label>
                </div>
                <hr />
            }

            @using (Html.BeginForm("Salir", "Empresa", FormMethod.Get))
            {
                <button type="submit" class="btn btn-primary">SALIR</button>
            }



        </div>

    </div>
    
</div>

<script type="text/javascript">
    
    $("[name=chkActive]").on('click', function () {
        if ($("#chkActive").is(":checked")) {
            $("[name=Estado]").val(true);
        } else {
            $("[name=Estado]").val(false);
        }
    });
</script>
